<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Archetype Created Web Application</display-name>

	<!-- 手动配置异步 AsyncSettingServlet -->
	<servlet>
		<servlet-name>AsyncSettingServlet</servlet-name>
		<display-name>AsyncSettingServlet</display-name>
		<servlet-class>com.zt.test.AsyncSettingServlet</servlet-class>

		<!-- 使用async-supported 标签配置是否支持异步Servelt，默认是不支持 -->
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>AsyncSettingServlet</servlet-name>
		<url-pattern>/AsyncSettingServlet</url-pattern>
	</servlet-mapping>

</web-app>
